<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando novo cliente</title>
</head>
<body>
    <h1>Adicionar novo cliente</h1>

    <form method="post">
        <label >Nome:</label>
        <input type="text" name="nome">

        <label >Email:</label>
        <input type="email" name="email">

        <label >Telefone:</label>
        <input type="text" name="telefone">
    </form>
    
</body>
</html>